<%= form_with(model: recipefood) do |form| %>
  <% if recipefood.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipefood.errors.count, "error") %> prohibited this recipefood from being saved:</h2>

      <ul>
        <% recipefood.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="container">
  <div class="form-group">
    <%= form.label :quantity %><br />
    <%= form.text_field :quantity, class:"form-control", placeholder: "Quantity" %>
  </div>

<%= form.label :Recipe, class: "form-input-label" %>
   <%= form.select :recipe_id, options_for_select(@recipe_items), {}, { :class => 'form-select mb-2' } %>


  <%= form.label :Food, class: "form-input-label" %>
   <%= form.select :food_id, options_for_select(@food_items), {}, { :class => 'form-select mb-2' } %>

  <div class="submit-button">
    <%= form.submit class: "btn btn-outline-dark btn-lg" %>
  </div>
</div>
<% end %>
