<p style="color: green"><%= notice %></p>
<!-----------
<%= render @recipe %>

<div>
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
  <%= link_to "Back to recipes", recipes_path %> |
  <%= link_to "Add ingredient", new_recipefood_path(@recipe) %>

  <%= button_to "Destroy this recipe", @recipe, method: :delete %>
</div>
------------->



<!------------------------------------------------->
<h1 class="text-center mt-4 fst-italic"><%= @recipe.name.capitalize %></h1>
<div class="container">
  <h3 class="mt-2 text-left"> Preparation time: <%= @recipe.preparation_time %></h3>
  <h3 class="mt-2 text-right">Cooking time: <%= @recipe.cooking_time %></h3>
  <h3 class="mt-2">Details: <%= @recipe.description %></h3>
</div>

<div class="button-cont d-flex m-auto">
  <%= link_to "Generate Shopping list", shopping_list_path, class: "btn btn-outline-success " %>
  <%if can? :update, @recipe%>
  <%= link_to "Add ingredintes", new_recipefood_path, class: "btn btn-outline-primary " %>
  <%end%>
</div>
<hr class="line" />  
<div class="container mt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Value</th>
        <%if can? :destroy, @recipe%>
        <th scope="col">Action</th>
        <%end%>
      </tr>
    </thead>
    <tbody>
      <% @recipe.recipefoods.each do |recipefood| %>
      <tr>
        <td><%= recipefood.food.name.capitalize %></td>
        <td><%= recipefood.food.quantity %></td>
        <td><%= recipefood.food.price %></td>
        <%if can? :update, @recipe%>
        <td><%= link_to 'Modify', edit_food_path(recipefood.food) , class: "btn btn-outline-primary underline" %>
          <%end%>
          <%if can? :destroy, @recipe%>
          <span><%= link_to 'Remove', food_path(recipefood.food), data: { turbo_method: 'delete', turbo_confirm: "Are you sure to delete" }, class: "btn btn-outline-danger underline" %></span>
          <%end%>
        </td>
      </tr>
    </tbody>
    <%end%>
  </table>